.env
Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git


# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="mysql://admin:ali737351699@quote.c3m2kaqu48xu.us-east-1.rds.amazonaws.com:3306/quote-app"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
JWT_SECRET="md923y8e"



# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""


SKIP_ENV_VALIDATION="1"

